{% extends "base.html" %}

{% block content %}
  <h1>Assign Roles to {{ user.email }}</h1>
  <form method="post">
      {% csrf_token %}
      {{ form.as_p }}  <!-- Це автоматично відобразить форму у форматі параграфів -->

      <div>
          <label for="{{ form.roles.id_for_label }}">{{ form.roles.label }}</label><br>
          {% for subfield in form.roles %}
              <div>
                  {{ subfield }} {{ subfield.label_tag }}
              </div>
          {% endfor %}
      </div>

      <div>
          {{ form.submit }}
      </div>
  </form>
  <a href="{% url 'users_list' %}">Back to users list</a>
{% endblock %}
