<!-- templates/groups/groups_list.html -->
{% extends 'base.html' %}

{% block title %}Group List{% endblock %}

{% block content %}
<h2>Group List</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    {% for group in groups %}
    <tr>
        <td>{{ group.name }}</td>
        <td>{{ group.description }}</td>
        <td>
            <a href="{% url 'group_update' group.id %}">Edit</a> |
            <a href="{% url 'group_delete' group.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'group_create' %}">Add New Group</a>
{% endblock %}
