<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: {{ user.email }} - {{ user.groups.all|join:", " }}</li>
    <li class="list-group-item"><a href="{% url 'logout' %}">Logout</a></li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login' %}">Login</a></li>
  {% endif %}

  <br>

  <li class="list-group-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'groups_list' %}">Groups</a></li>
  <li class="list-group-item"><a href="{% url 'tickets_list' %}">Tickets</a></li>
  {% if user.groups.filter(name='admin').exists %}
    <li class="list-group-item"><a href="{% url 'users_list' %}">Users</a></li>
  {% endif %}
</ul>
