<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: {{ user.email }} - {{ user.groups.all|join:", " }}</li>
    <li class="list-group-item">
      <form method="post" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-link">Logout</button>
      </form>
    </li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login' %}">Login</a></li>
  {% endif %}

  <br>

  <li class="list-group-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'group_list' %}">Groups</a></li>
  <li class="list-group-item"><a href="{% url 'ticket_list' %}">Tickets</a></li>

  {% if user.is_authenticated and user.role == 'Admin' %}
    <li class="list-group-item"><a href="{% url 'user_list' %}">Users</a></li>
  {% endif %}
</ul>
